.item {
    display: flex;
    align-items: center;
    gap: 24px;
    font-weight: 500;
};

.delete__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
}